
<form style="height: 100%;">
    <div>

        <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;margin-left: 20px;">Search and
            View General Diary:
            <hr />
        </h3>

        <p
            style="margin-left: 20px;font-family: Impact, Haettenschweiler, ' Narrow Bold', sans-serif;margin-left: 20px;">
            General Diary : Advance Search </p>
        <table style="height:100%; margin-left: 20px;">
            <tr>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">General Diary Number
                </td>
                <td><input type="text"></td>
                <td style="font-family: Impact, Haettenschweiler, ' Narrow Bold', sans-serif;">General Diary Type:</td>
                <td><select>
                        <option>----------Select----------</option>
                        <option>Arrival</option>
                        <option>Departure</option>
                        <option>Administrative</option>
                        <option>Inquiry / Registration</option>
                        <option>Preventive Action</option>
                    </select></td>
            </tr>
            <tr>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">From Date</td>
                <td><input type="date"></td>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">General Diary
                    Subtype:</td>
                <td><select>
                        <option>----------Select----------</option>
                        <option></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">To Date</td>
                <td><input type="date"></td>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">All Type General
                    Diary:</td>
                <td><select>
                        <option>----------Select----------</option>
                        <option></option>
                    </select>
                </td>

            </tr>
            <tr>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Entry (For Officer)
                </td>
                <td><select>
                        <option>----------Select----------</option>

                    </select></td>
            </tr>
            <tr>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Police Station:</td>
                <td><select>
                        <option>----------Select----------</option>

                    </select></td>
            </tr>

        </table>

    </div>
    <div style="text-align: center;">
        <button class="btn btn-primary">
            Search
        </button>

        <button type="reset" class="btn btn-primary" style="margin-left:20px;">
            Clear
        </button>
    </div>



</form>

<hr>

<h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;margin-left:20px;">Most Recent
    General Diary Entries</h3>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
    <mat-tab label="My General Diary">
        <div style="margin: auto; width: 1300px; padding-top: 30px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">GD Id</th>
                        <th scope="col">General Diary Type</th>
                        <th scope="col">General Diary Subtype</th>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Entry (For Officer)</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Brief General Diary</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <br>
                <tbody>
                    <tr *ngFor="let i of usergdEntries">
                        <th scope="row">{{i.GdId}}</th>
                        <td>{{i.GeneralDiaryType}}</td>
                        <td>{{i.GeneralDiarySubtype}}</td>
                        <td>{{i.Date_Time}}</td>
                        <td>{{i.Entry}}</td>
                        <td>{{i.Subject}}</td>
                        <td>{{i.BriefGeneralDiary}}</td>
                        <td><mat-icon class="icn" (click)="updateGd(i)">edit</mat-icon></td>
                        <td><mat-icon class="icn">delete</mat-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="All General Diary">
        <div style="margin: auto; width: 1300px; padding-top: 30px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">GD Id</th>
                        <th scope="col">General Diary Type</th>
                        <th scope="col">General Diary Subtype</th>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Entry (For Officer)</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Brief General Diary</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <br>
                <tbody>
                    <tr *ngFor="let i of gdEntries">
                        <th scope="row">{{i.GdId}}</th>
                        <td>{{i.GeneralDiaryType}}</td>
                        <td>{{i.GeneralDiarySubtype}}</td>
                        <td>{{i.Date_Time}}</td>
                        <td>{{i.Entry}}</td>
                        <td>{{i.Subject}}</td>
                        <td>{{i.BriefGeneralDiary}}</td>
                        <td><mat-icon class="icn" (click)="updateGd(i)">edit</mat-icon></td>
                        <td><mat-icon class="icn">delete</mat-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>